<div class="container-found-page">
  <div class="found-something-cont-image">
    <img src="<%= image_path('claim.png') %>" alt="" class="img-lost">
  </div>
  <div class="found-something-cont-form">
    <div class="claim-content">
      <span>Claim your item!</span>
        <%= simple_form_for([@item, @claim]) do |f| %>
          <%= f.input :answer1, label: @item.question1, placeholder: "Place your answer here" %>
          <%= f.input :answer2, label: @item.question2, placeholder: "Place your answer here" %>
          <%= f.input :answer3, label: @item.question3, placeholder: "Place your answer here" %>
          <%= f.input :reward, collection: ["hello there"] %>
          <%= f.button :submit, class: 'btn btn-success'%>
        <% end %>
    </div>
  </div>
</div>
