<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "Losty.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="navbar-items">
        <%= link_to "Lost Items", items_path, class: "nav-link" %>
      </div>

      <div class="navbar-items">
        <%= link_to "Found something?", new_item_path, class: "nav-link" %>
      </div>

      <div class=searchbar><%= render 'shared/searchbar' %>
      </div>

      <% if user_signed_in? %>
        <li class="dashboard">
          <%= link_to "Dashboard", dashboard_path, class: "btn btn-success" %>
        </li>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        </li>
        <li>
          <div class="nav-item" id="logout">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item" >
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
