<div class="container-fluid my-flexy container-show-page">
  <div class="dashboard-content">
    <div class="dashboard-content-section">
      <h1 class="dashboard-title">Your Awesome Dashboard</h1>
      <details open>
        <summary>My Posts</summary>
        <div class="claim-content">
          <% current_user.items.each do |item| %>
            <div class="post-card">
              <%= cl_image_tag item.photo %>
              <div class="my-item-infos">
                <%= link_to item.name, item_path(item), class: 'item-name' %>
                  <% if item.claims.present? %>
                    <i class="far fa-comment-dots"></i>
                    <% end %>
                <div class="item-location-date">
                  <p><i class="fas fa-map-marker-alt"></i><%= item.location %></p>
                  <p><i class="fas fa-calendar-alt"></i><%= item.created_at.strftime('%e %b %Y') %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </details>

      <details>
        <summary>My Claims</summary>
        <div class="claim-content">
          <% current_user.claims.each do |claim| %>
            <div class="post-card">
              <%= cl_image_tag claim.item.photo %>
                <div class="my-item-infos">
                  <%= link_to claim.item.name, item_path(claim.item), class: 'item-name' %>
                    <div class="item-location-date">
                    <p><i class="fas fa-map-marker-alt"></i><%= claim.item.location %></p>
                    <p><i class="fas fa-calendar-alt"></i><%= claim.item.created_at.strftime('%e %b %Y') %></p>
                </div>
              </div>
          <% end %>
        </div>
      </details>
    </div>

    <div class="dashboard-content-section">
      <h1 class="dashboard-title">Friends' To-Be Messages</h1>
      <%= render 'conversations/conversations' %>
    </div>
  </div>
</div>



