
<h1>Losty!</h1>
<div class="home-flex">
  <div class="home-cont">
    <div class="cont-lhs">
      <h3>Your live go to plataform for when your go Oopsie, lost something!</h3>
      <%= link_to "found something?", new_item_path, class: "btn btn-success" %>
      <%= link_to "See all items", items_path, class: "btn btn-success" %>
    </div>
    <img src="<%= image_path('logo.png') %>" alt="" class="rhs-img">
  </div>
</div>
    <h3 class="cards-title">Most recent found items...</h3>
  <div class="card-box">
    <% @items.each do |item| %>
      <%= link_to item_path(item), class: "nav-link" do %>
      <div class="cards">
        <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(item.photo) %>)">

        </div>
        <div class="info-cont">
          <p class="mb0"><b><%= item.name %></b></p>
          <p class="mb0"><i class="fas fa-map-marker-alt"></i><%= item.location %></p>
        </div>
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="" class="avatar card-avatar">
      </div>
      <% end %>
    <% end %>
  </div>
