

<div class="home-flex">
  <div class="home-cont">
    <div class="cont-lhs">
      <h2>Have you lost or found something?</h2>
      <p>Losty is a platform that connects people who have lost items or pets to those who have found them. We are a community that seeks to promote kindness and offers people a streamlined database to share information to help return items and pets safely back to their owners.</p>
      <br>
      <br>
      <h5><%= link_to "See all items âž", items_path, class: "item-link" %></h5>
    </div>
    <img src="<%= image_path('lostypic.png') %>" alt="" class="rhs-img">
  </div>
</div>
    <h3 class="cards-title">Most recent found items...</h3>
  <div class="card-box">
    <% @items.each do |item| %>
      <%= link_to item_path(item), class: "nav-link" do %>
      <div class="cards">
        <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path(item.photo, crop: :fill) %>)">

        </div>
        <div class="info-cont">
          <p class="mb0"><b><%= item.name %></b></p>
          <p class="mb0"><i class="fas fa-map-marker-alt"></i><%= item.location %></p>
        </div>
        <div> <%= cl_image_tag item.user.photo, class: "avatar card-avatar" %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
