<h1 class="index-title">Looking for Something?</h1>
<div class="container-fluid my-flexy">
  <div class="card-box-index">
    <% @items.where(claimed: false).each do |item| %>
      <%= link_to item_path(item), class: "nav-link" do %>
        <div class="cards-index">
          <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path(item.photo, crop: :fill) %>)">
          </div>
          <div class="info-cont">
            <p class="mb0"><b><%= item.name %></b></p>
            <p class="mb0"><i class="fas fa-map-marker-alt"></i><%= item.location %></p>
          </div>
          <div> <%= cl_image_tag item.user.photo, class: "avatar card-avatar" %>
          </div>


        </div>
      <% end %>
    <% end %>
  </div>


  <div
    id="map"
    style=""
    class="map-index"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


