<div class="container">
  <div class="item-img">
    <% if @item.photo %>
      <%= cl_image_tag @item.photo, width: 100 %>

    <% end %>
  </div>
  <div class="item-content">
    <h1><%= @item.name %></h1>
    <p><%= @item.description %></p>
    <p>Where: <%= @item.location %></p>
    <p>Posted on: <%= @item.created_at.strftime('%e %b %Y') %></p>

    <% if @item.user == current_user %>

      <%= link_to "Edit Item", edit_item_path(@item), class: 'btn btn-outline-warning' %>
      <%= link_to "Delete Item", item_path(@item), method: :delete, class: 'btn btn-outline-danger',
        data: { confirm: "Are you sure?" } %>

    <% else %>

      <% if !@item.claims.pluck(:user_id).include?(current_user.id) %>
        <%= link_to "Claim Item", new_item_claim_path(@item), class: 'btn btn-outline-success' %>
      <% else %>
        CLAIMED!
        <% @claim = @item.claims.find_by(user: current_user) %>
        <%= link_to "Delete Claim", item_claim_path(@item,@claim), method: :delete, class: 'btn btn-outline-danger',
        data: { confirm: "Are you sure?" } %>
      <% end %>

    <% end %>


  </div>

  <div class="items-map">
    <div
      id="map"
      style="width: 80%;
      height: 400px;"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <h3>claims for this item</h3>
    <%= current_user.claims.where(item: @item).count  %>
</div>
