<div class="container">
  <div class="item-img">
    <% if @item.photo %>
      <%= image_tag @item.photo, width: 100 %>

    <% end %>
  </div>
  <div class="item-content">
    <h1><%= @item.name %></h1>
    <p><%= @item.description %></p>
    <p>Where: <%= @item.location %></p>
    <p>Posted on: <%= @item.created_at.strftime('%e %b %Y') %></p>
  <%= link_to "Claim", new_item_claim_path(@item), class: 'button' %>

  </div>
  <h3>my claims for this</h3>
  <%= current_user.claims.where(item: @item).count  %>
</div>
