<div class="container-fluid my-flexy">

  <div class="card-box-show">
    <%= render partial: "card-show" %>

    <% if user_signed_in? %>

      <% if @item.user == current_user %>

        <%= link_to "Edit Item", edit_item_path(@item), class: 'btn btn-outline-warning' %>
        <%= link_to "Delete Item", item_path(@item), method: :delete, class: 'btn btn-outline-danger', data: { confirm: "Are you sure?" } %>

        <%= render "item-claimed" %><!-- ITEM-CLAIMED ( COMPLETED TRANSACTION ). -->

      <% elsif @item.can_i_claim_it?(current_user) %>

        <%= render "claiming-item" %><!-- claiming-item ( CLAIMER =>  I want to CLAIM it ) -->

      <% else  %>

        <%= render "after-claiming" %><!-- after-claim  -->

      <% end %>

    <% end %><!-- // user_signed_in? -->

    <h3>claims for this item <%= @item.claims.count %></h3>
  </div>

  <div
    id="map"
    style=""
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
